body {
    background-image: url('./../img/background.jpg');
    background-attachment: fixed;
	font-family: 'Calisto';
	margin: 0px;
}

.sidebar{
    display: table-cell;
    width:10em;
}

.textbox {

    
    display: table-cell;
    background-color: whitesmoke;
}

.icon {
	position: relative;	
	height:20px;
	width:20px;}

.top_toolbar {
	height:80px;
	background-color: rgb(176, 239, 209);
	border-bottom:3px solid black;}

.top_toolbar a:hover {
    color:white;
    background-color:darkred;
    text-decoration:none;
    cursor:pointer}
    
    .dropdown img{
    vertical-align:middle;}
    
    .dropdown .dropdown-content a{
    padding:5px}
    
    
    .dropdown {
    display:inline;
    overflow:hidden;
    vertical-align:top;
    width:200px}
    
    .dropdown-content a {
    padding:5px;
    margin:5px;
    display: block;}
    
    .dropdown .dropdown-content {
    display:none;
    position:absolute;
    background-color:white;
    width:inherit;
    z-index:1;}
    
    .dropdown:hover .dropdown-content {
    display:block;}
    
    .dropdown span {
    display:flex;
    align-items:center;
    }
    
    .dropdown span:hover {
    background-color:darkred;}
    
    .dropdown span:hover a{
    color:white;}

#brand {
    font-size:30px;
    text-decoration: none;
    background-color: black;
}

#brand:hover {
    color:black;
    background-color: default;
}